#faculty {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#faculty .heading{
  text-align: center;
  color: #1e90ff; 
}

#faculty h2 {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
}

#faculty ul {
  list-style-type: none;
  padding: 0;
}

#faculty li {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
}

#faculty li:last-child {
  border-bottom: none;
}

#faculty li::before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
